body {
  margin-top: 20px;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  font-size: 2em;
}

.tt-video-container {
  padding-top: 20px;
}

.tt-labels-container {
  max-height: 40vh;
  overflow-y: scroll;
}

.labelLink {
	font-weight: bold;
}

.timeLink {
}