awsebcli==3.7.8
blessed==1.9.5
botocore==1.4.58
cement==2.8.2
click==6.6
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
Flask==0.11.1
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
mock==2.0.0
numpy==1.11.1
opencv-python==3.1.0.3
pathspec==0.3.4
pbr==1.10.0
protobuf==3.0.0
python-dateutil==2.5.3
pytube==6.1.11
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
tensorflow==0.11.0rc0
texttable==0.8.4
wcwidth==0.1.7
websocket-client==0.37.0
Werkzeug==0.11.11
